.gallery__section {
	padding: 40px 0;
}

.discover__gallery-image {
	height: 450px;
	margin-right: 10px;
}

/* fullscreen */
.discover__gallery.is-fullscreen .discover__gallery-image {
	height: 100%;
}

.local__attractions {
	padding: 60px 0;
}

.local__attractions-header {
	color: $darkgrey;
	font-family: $secondaryfont;
	letter-spacing: 0.5px;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
}

.local__attractions-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
	padding: 40px 0;
}

.la-list_item {
	// padding: 10px 20px;
	width: 33%;
	h2 {
		padding-top: 30px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: $darkgrey;
		font-size: 1em;
		padding-bottom: 20px;
	}
	a, p {
		text-decoration: none;
		display: block;
		letter-spacing: 1.5px;
		font-size: 0.9em;
		padding: 5px;
	}
	a {
		transition: all 0.2s ease-in;
		color: $darkgreythree;
	}
	a:hover {
		color: $lightblue;
	}
	p {
		color: $darkgrey;
	}
}

@include respond-to("small") {
	.discover__gallery {
		.flickity-page-dots {
			bottom: -35px;
		}
	}

	.discover__gallery-image {
		height: 200px;
	}

	/* fullscreen */
	.discover__gallery.is-fullscreen .discover__gallery-image {
		width: 100%;
		height: auto;
		/* vertically center */
		display: block;
		top: 50%;
		transform: translateY(-50%)
	}

	.flickity-prev-next-button {
		width: 30px;
    	height: 30px;
	}
}

