//fonts 

@font-face {
	font-family: 'OctoberMoon';
	src: url("../../fonts/october-moon/October Moon - TTF.ttf") format("truetype");
}

//variables 
$lightblue: #0089C4;
$darkblue: #052E70;
$grey: #C7C8CA;
$darkgrey: #3f4a55;
$darkgreytwo: rgba(63, 74, 85, 0.7803921568627451);
$green: rgba(136, 150, 135, 0.8117647058823529);






$primaryfont: 'Oswald', sans-serif;
$secondaryfont: 'OctoberMoon', sans-serif;
$thirdfont: 'Yanone Kaffeesatz', sans-serif;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Yanone Kaffeesatz', sans-serif;
// Saker Sans Bold

.wrapper {
	max-width: 80%;
	margin: 0 auto;
}

body {
	position: relative;
	font-family: $primaryfont;
}