.header__index {
	background: linear-gradient(rgba(249, 224, 178, 0), rgba(249, 224, 178, 0.18), rgba(247, 232, 191, 0.24)), url(../../assets/hero.jpeg);
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.header__rooms {
	.nav {
		background-color: white;
	}
}

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	padding: 2% 10%;

}

.nav__name {
	width: 100%;
	color: $darkblue;
}

.nav__title {
	font-size: 1.8em;
	font-family: $secondaryfont;
}

.nav__title-accent {
	text-transform: uppercase;
	color: $lightblue;
	font-size: 1.3em;
	letter-spacing: -1.5px;
	margin-left: 10px;
    margin-top: -16px;
}

.nav__list {
	list-style: none;
	display: flex;
}

.nav__list-item {
	padding-left: 35px;
	a {
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: $darkgrey;
		transition: all 0.2s ease-in;
		font-size: 0.9em;
	}
	a:hover, a.active{
		color: $lightblue;
	}
}

.header__header {
	text-align: center;
	padding-top: 15%;
	color: $darkgrey;
	width: 100%;
	h1 {
		font-size: 5.5em;
		font-family: $secondaryfont;
		font-weight: normal;
	}
	h2 {
		font-size:1.4em;
		font-weight: 300;
	}
}

.header__rooms {
	padding-top: 4%;
	h1 {
		font-size: 4.2em;
	}
	h2 {
		font-size: 1.1em;
		padding-top: 1%;
		padding-left: 10%;
		padding-right: 10%;
		letter-spacing: 0.5px;
	}
	h2:nth-child(3) {
		padding-left: 17%;
		padding-right: 17%;
	}
}


