.nav {
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	padding: 1% 15%;
}

.nav__logo {
	max-width: 150px;
}

.nav__list {
	list-style: none;
	display: flex;
}

.nav__list-item {
	padding-left: 35px;
	a {
		text-decoration: none;
		color: $lightblue;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}

.header {
	background: url(../../assets/hero.jpeg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header__header {
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	h1 {
		color: $darkblue;
		font-size: 4.5em;
	}
}
