.rooms__section {
	padding-bottom: 5%;
}

.rooms__list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	flex-wrap: wrap;
	color: $darkgrey;
	text-align: center;
	font-weight: 300;
	font-size: 1.4em;
	letter-spacing: 0.5px;
	font-family: $secondaryfont;
}

.rooms__list-item {
	padding-top: 5%;
	p {
		padding-bottom: 15px;
	}
	img {
		max-width: 550px;
		border: solid 1px rgba(156, 165, 172, 0.39);
	}
}