.rooms__section {
	padding-bottom: 5%;
}

.rooms__list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	flex-wrap: wrap;
	color: $darkgrey;
	text-align: center;
	font-weight: 300;
	font-size: 1.4em;
	letter-spacing: 0.5px;
	font-family: $secondaryfont;
}

.rooms__list-item {
	padding-top: 7%;
	p {
		padding-bottom: 15px;
	}
	img {
		width: 100%;
		border: solid 1px rgba(156, 165, 172, 0.39);
	}
}

.gallery {
	width: 550px;
}

// /* big buttons, no circle */
.flickity-prev-next-button {
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
// /* arrow color */
.flickity-prev-next-button .arrow {
  fill: $grey;
}
.flickity-prev-next-button.no-svg {
  color: $grey;
}
// /* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.room__rates {
	color: $darkgrey;
	text-align: center;
	font-size: 1.1em;
	letter-spacing: 0.5px;
	padding-top: 7%;
}

@include respond-to("medium") {
	.rooms__list {
		justify-content: center;
		padding-top: 8%;
	}

	.header__rooms h2:nth-child(3) {
		padding-left: 0;
		padding-right: 0;
	}
}